{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{{ attach_library('palvelumanuaali/login-form') }}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
  <nav{{ attributes.addClass(classes) }}>
    <button id="loginlinkButton-mobile" class="btn-menu hide-dxl login-btn-mobile" type="button">
      {{'Log in'|t}}
      {% do attributes.removeAttribute('id') %}
      {% do attributes.removeAttribute('class') %}
        {% include "@atoms/images/icons/_icon.twig" with {
                icon_base_class: 'icon',
                icon_name: 'user-white',
                icon_modifiers: ['small', 'blue'],
              } %}
    </button>
    <div class='slide-in-loginform slide-in-menu-end hide-desktop'>
      <button id="loginlinkButton-mobile" class="btn btn-menu-close hide-dxl" type="button">
        {% include "@atoms/images/icons/_icon.twig" with {
          icon_base_class: "icon",
          icon_blockname: "toggle-expand-close",
          icon_name: "close",
        } %}
        <span class="visually-hidden">
          {{'Close'|t}}
        </span>
      </button>
      <span class="login-text d--block ta--center margin--left-right-auto">
        {{'Log in:'|t}}
      </span>
      {% block mobilecontent %}
        {{ content }}
      {% endblock %}
    </div>
    <button id="loginDropdownButton-mobile" class="btn btn-menu hide-tblt" type="button" data-bs-toggle="dropdown"  data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
      <span class="login-text">{{'Log in'|t}}</span>
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: 'icon',
        icon_name: 'padlock',
        icon_modifiers: ['small', 'white'],
      } %}
    </button>
    <div class='dropdown-menu dropdown-menu-end'>
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  </nav>
