{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

  {% set greeting_text = 'Updated '|t  %}
  {% embed "@templates/with-content-sidebar.twig" with {
    main_content_id: 'service-page-full',
    hero_text__heading: content.field_hero_label,
    hero_text__body: content.field_hero_text,
    hero_text__button__url: content.field_hero_link[0]['#url'],
    hero_text__button__text: content.field_hero_link[0]['#title'],
    hero_text__media: content.field_hero_media,
    hero_text__image__modifiers: ['one-third'],
    hero_text__content__modifiers: ['half'],
    content_base_class: 'service',
    content_modifiers: content_modifiers,
    content_blockname: content_blockname,
    content_additional_classes: ['bs--bb', 'position--relative'],
    service_modifiers:service_modifiers,
    service_blockname:service_blockname,
    service__updated: greeting_text ~ " " ~ node.changed.value|date("d.m.Y"),
    node__label: label,
  } %}
  {% block content %}
  {{ content|without('flag_cart', 'flag_lists', 'view_mode_switcher', 'field_other_services', 'field_contact_info_external', 'field_service_producer', 'entitygroupfield') }}{% endblock %}
      {% block page_content %}
        <div class="service-header-wrapper">
          {% if content.entitygroupfield %}
            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_base_class: card__date__base_class|default('organizing-group'),
              paragraph_modifiers: card__date__modifiers,
              paragraph_blockname: card__base_class,
              paragraph_content: content.entitygroupfield['0'],
            } %}
          {% endif %}
          {% if service__updated %}
            {% include "@atoms/text/text/01-paragraph.twig" with {
              paragraph_base_class: card__date__base_class|default('date'),
              paragraph_modifiers: card__date__modifiers,
              paragraph_blockname: card__base_class,
              paragraph_content: service__updated,
            } %}
          {% endif %}
        </div>
          {% include "@atoms/text/headings/_heading.twig" with {
            heading_level: '1',
            heading: node__label,
            heading_base_class: 'page-heading',
          }
        %}
      {% endblock %}
      {% block page_sidebar %}
      {% if content.flag_cart  %}
        <div class='small-message-wrapper small-message-wrapper--service'>
          {{ content.flag_cart }}
          <div class='pill--small-message pill--small-message--add pill--padding-small-text pill--small-message-service small-font font-primary-blue font-weight-bold' aria-live="polite">
           {{'Added to favorites'|t}}
          </div>
          <div class='pill--small-message pill--small-message--remove pill--padding-small-text pill--small-message-service small-font font-primary-blue font-weight-bold' aria-live="polite">
           {{'Removed from favorites'|t}}
          </div>
        </div>
      {% endif %}
      {% if content.group_service_navigation.group_customer_view.group_sidebar_public|render %}
        {{ content.group_service_navigation.group_customer_view.group_sidebar_public }}
      {% endif %}
        {% if content.field_contact_info_external|render %}
          <div class="contact-info-wrapper">
            {% include "@atoms/text/headings/_heading.twig" with {
              "heading_level": 5,
              "heading": 'Contacts'|t,
              "heading_modifiers": ['margin-bottom-two', 'blue-desktop'],
            } %}
            {{ content.field_contact_info_external }}
          </div>
        {% endif %}
        {% if content.entitygroupfield or content.field_service_producer %}
          <div class="additional-info-wrapper">
            {% include "@atoms/text/headings/_heading.twig" with {
              "heading_level": 5,
              "heading": 'Additional information'|t,
              "heading_modifiers": ['margin-bottom-two', 'blue-desktop'],
            } %}
            {% if (content.entitygroupfield['0'] is same as (content.field_service_producer['0'])) and content.field_service_producer['#items']|length is same as 1 %}
              {{ content.entitygroupfield }}
            {% else %}
              {{ content.entitygroupfield }}
              {{ content.field_service_producer }}
            {% endif %}
          </div>
        {% endif %}
        <div class="sharing-options">
          <button onclick="window.print();" class="btn" title="{{ 'Print'|t }}" aria-label="{{ 'Print'|t }}">
            {% include "@atoms/images/icons/_icon.twig" with {
              icon_base_class: 'icon',
              icon_name: 'print',
              icon_modifiers: ['small'],
            } %}
          </button>
        </div>
      {% endblock %}
  {% endembed %}
