{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{{ attach_library('palvelumanuaali/user-menu') }}
<button id="accountMenuButton" class="btn btn-menu btn--hide-on-mobile" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="{{'User account menu'|t}}">
  {# leaving these here for possible further development #}
  {# {{ drupal_view('user_info', 'block_1') }} #}
  <span class='login-button background-default'></span>
  {# leaving these here for possible further development #}
  {# {% include "@atoms/images/icons/_icon.twig" with {
    icon_base_class: 'icon',
    icon_name: 'arrow-sm-down',
    icon_modifiers: ['small','margin-left'],
  } %} #}
</button>

<div class='dropdown-menu dropdown-menu--show-on-desktop'>
  {{ drupal_view('user_info', 'block_1') }}
  {% include "@molecules/menus/_menu.twig" with {
     menu_class: 'dropdown-menu-inner',
  } %}
</div>

<div id="accountMenuButton2" class="btn btn-menu hide-desktop logged-in-open" type="button" aria-haspopup="true" aria-expanded="false" title="{{'User account menu'|t}}">
  <span class='login-button background-default'></span>
</div>
<div class='dropdown-mobile-menu hide-desktop'>
  <button id="dropdownMobileCloseButton" class="btn logged-in-close btn-menu-close hide-lg" type="button">
    {% include "@atoms/images/icons/_icon.twig" with {
      icon_base_class: "icon",
      icon_blockname: "toggle-expand-close",
      icon_name: "close",
    } %}
    <span class="visually-hidden">
      {{'Close'|t}}
    </span>
  </button>
  {{ drupal_view('user_info', 'block_1') }}
  {% include "@molecules/menus/_menu.twig" with {
     menu_class: '',
  } %}
</div>
