<div {{ attributes }}>
  <div class="label">{{ "Day of the week"|t }}</div>
  <div class="label">{{ "Time"|t({}, {'context' : 'Weekday and time widget'}) }}</div>
  <div class="label">{{ "Add another time"|t }}</div>
    {{ widget }}
</div>
