{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
{% set fieldsMain = ['field_municipality', 'field_service_set', 'field_life_situations', 'field_language', 'field_free_service'] %}
{% set fieldsSecondary = ['field_age_groups', 'field_implementation_extra_info', 'field_accessibility']%}

<div class="form--inline clearfix search-form">
  <div class="text-search-wrapper">
    {{ form['search_wrapper'] }}
    {{ form['actions']|without(['reset']) }}
  </div>
  <div class="filters-wrapper">
    <div class="exposed-filters">
      <div class="main-filters filters">
        {% for field in fieldsMain %}
          {% if field in form|keys %}
            {{ form[ field ] }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="secondary-filters filters collapse" id="collapseItem" >
        {% for field in fieldsSecondary %}
          {% if field in form|keys %}
            {{ form[ field ] }}
          {% endif %}
        {% endfor %}
      </div>
      {% if  form['#display_id'] is defined and form['#display_id'] =='block_1'  %}
      {% else %}
        <div class='control-wrapper'>

        <span class="test">  <a class="collapse-toggler" data-bs-toggle="collapse" href="#collapseItem" role="button" aria-expanded="false" aria-controls="collapseItem">{{ 'Show additional choices'|t }}</a></span>
         {{ form['actions']['reset'] }}
        </div>
      {% endif %}
    </div>
    {{ form|without(fieldsMain, fieldsSecondary, 'search_wrapper', 'actions') }}
    </div>
</div>
