{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - content: The content of this block.
 *
 * @see template_preprocess_block()
 */
#}

<div class='node-service-edit-form-pager node-form prevent-scroll'>
  <div class='stepper multistep-nav-wrapper'>
    <div class="stepper-wrapper">
      <div class="step-lines">
        <div class="step-line"></div>
        <div class="step-line"></div>
        <div class="step-line"></div>
      </div>
    </div>
    <div role="button" tabindex="0" id='step-1' data-step=0 class="step nav-step-0 multistep-nav" aria-current="false" aria-label="{{ 'Perustiedot. Vaihe 1/4' }}"><div class='nav-icon'>1</div><div class='label'>{{'Basic information'|t}}</div></div>
    <div role="button" tabindex="0" id='step-2' data-step=1 class="step nav-step-1 multistep-nav" aria-current="false" aria-label="{{ 'Aika ja paikka. Vaihe 2/4' }}"><div class='nav-icon'>2</div><div class='label'>{{'Place and time'|t}}</div></div>
    <div role="button" tabindex="0" id='step-3' data-step=2 class="step nav-step-2 multistep-nav" aria-current="false" aria-label="{{ 'Kuvaus ja työohje. Vaihe 3/4' }}"><div class='nav-icon'>3</div><div class='label'>{{'Description and work instructions'|t}}</div></div>
    <div role="button" tabindex="0" id='step-4' data-step=3 class="step nav-step-3 multistep-nav" aria-current="false" aria-label="{{ 'Lisätiedot. Vaihe 4/4' }}"><div class='nav-icon'>4</div><div class='label'>{{'Additional information'|t}}</div></div>
  </div>
</div>
