{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */

 @TODO: THIS CAN BE REMOVED IF BEM CLASSES CAN BE APPLIED IN WYSIWYG
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% set classes = classes|merge(additional_classes) %}

{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{%
  set item_classes = [
  '',
]
%}

{% set item_classes = item_classes|merge(items_additional_classes) %}

{%
  set icon_wrapper_classes = [
  'icon-wrapper',
]
%}

{% set icon_wrapper_additional_classes = icon_wrapper_additional_classes|default(['']) %}
{% set icon_wrapper_classes = icon_wrapper_classes|merge(icon_wrapper_additional_classes) %}

<div {{ attributes.addClass(icon_wrapper_classes) }}>
  {% include "@atoms/images/icons/_icon.twig" with {
    icon_base_class: 'icon',
    icon_name: icon_name,
    icon_modifiers: ['small'],
  } %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>
    {% include "@atoms/text/headings/_heading.twig" with {
      "heading_level": 6,
      "heading": field_header,
      "heading_modifiers": 'semibold',
    } %}
    </div>
    <div class="field__items">
     {% if combined_field %}
       {% for item in items %}
         <div{{ item.attributes.addClass(item_classes) }}>
           {{item.content|render }}
         </div>
       {% endfor %}
     {% elseif spaceless %}
       {% for item in items %}
         {% apply spaceless %}
           <div{{ item.attributes.addClass(item_classes) }}>
             {{item.content}}
           </div>
         {% endapply %}
       {% endfor %}
     {% else %}
      {% for item in items %}
        {% apply spaceless %}
          <div{{ item.attributes.addClass(item_classes) }}>
            {{item.content }}
          </div>
        {% endapply %}
      {% endfor %}
     {% endif %}
    </div>
  </div>
</div>
