{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */

 @TODO: THIS CAN BE REMOVED IF BEM CLASSES CAN BE APPLIED IN WYSIWYG
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div class='field__label'>
    <span class="title h6 font-color--blue">{{label}}{{':'}}</span>
  </div>
    {% for item in items %}
    <div class="field__item">
      {% if item.content['#markup'] == 'option1' %}
        <span class="text">{{"Asiakas, jolla on 1) korvaukseton määräaika eli karenssi, 2) työssäolovelvoite, 3) alle 25-vuotiaan ammatilliseen koulutukseen liittyvä rajoitus tai 4) omavastuuaika, voi saada ansiopäivärahaa tai yleistukea palveluun osallistumisen ajalta. Päätöksen tekee viime kädessä etuuden maksaja."|t}}</span>
      {% elseif item.content['#markup'] == 'option3' %}
        <span class="text">{{"Palveluun osallistuminen voi purkaa työssäolovelvoitetta. Tarkista ohjeet <a href='https://tuuttipalvelu.sharepoint.com/sites/Tyottomyysturva/SitePages/Tyossaolovelvoite.aspx'>Tuutti-palvelusta.</a>"|t}}</span>
      {% elseif item.content['#markup'] == 'option4' %}
        <span class="text">{{"Palveluun osallistumisen ajalta on mahdollista saada Kelan tai työttömyyskassan maksamaa kulukorvausta, jos osallistumisesta on sovittu suunnitelmassa. Katso tarkemmat tiedot Kelan tai työttömyyskassan verkkosivuilta. <br> Jos asiakas ei saa ansiopäivärahaa tai yleistukea, hänelle voidaan myöntää osallistumisen ajalta harkinnanvaraista kulukorvausta. Katso <a href='https://tyollisyys.palvelumanuaali.fi/palvelu/harkinnanvarainen-kulukorvaus'>harkinnanvaraisen kulukorvauksen ohje</a>. Huomioithan, että kuntouttavasta työtoiminnasta ei myönnetä harkinnanvaraista kulukorvausta."|t}}</span>
      {% endif %}
    </div>
    {% endfor %}
</div>
