
<div class='link-wrapper'>
  {{content.flag_cart}}
  {{content.flag_lists}}
  <div id="view-mode-switcher-link"> {{content.view_mode_switcher}}</div>
  </div>
  {% embed "@templates/with-content-sidebar.twig" with {
    content_base_class: service_base_class,
    main_content_id: main_content_id,
  } %}


{% block content %} {{content|without('flag_cart','flag_lists','view_mode_switcher', 'field_contact_info')}}{% endblock %}
  {% block page_content %}
    {% if service__updated  %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_base_class: card__date__base_class|default('date'),
        paragraph_modifiers: card__date__modifiers,
        paragraph_blockname: card__base_class,
        paragraph_content: service__updated,
      } %}
    {% endif %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: '1',
        heading: node__label,
        heading_base_class: 'page-heading',
      }
    %}
  {% endblock %}
  {% block page_sidebar %}
    {{ content.field_contact_info }}
  {% endblock %}
{% endembed %}
