{#
/**
 * @file
 * Theme override for a select element.
 *
 * Available variables:
 * - attributes: HTML attributes for the select tag.
 * - options: The option element children.
 *
 * @see template_preprocess_select()
 */
#}

{% spaceless %}
  <div class='form-item__dropdown {{select_modifier}}'>
    <select{{ attributes.addClass('form-item__select') }}>
      {% for option in options %}
        {% if option.type == 'optgroup' %}
          <optgroup label="{{ option.label }}">
            {% for sub_option in option.options %}
              <option value="{{ sub_option.value }}"{{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
            {% endfor %}
          </optgroup>
        {% elseif option.type == 'option' %}
          <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% if dropdown_icons == 'yes' %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_name: "arrow-sm-down",
        icon_modifiers: ['small','hide-while-selected'],
      } %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_name: "arrow-sm-down-white",
        icon_modifiers: ['small','hide-while-unselected'],
      } %}
    {% endif %}
    {% if dropdown_icons == 'blue' %}
      {% include "@atoms/images/icons/_icon.twig" with {
        icon_base_class: "icon",
        icon_name: "arrow-sm-down",
        icon_modifiers: ['small'],
      } %}
    {% endif %}  
  </div>
{% endspaceless %}
