{% set footer__base_class = 'footer' %}
{% set sidebar__logo_src = directory ? '/' ~ directory ~ '/assets/icons/LOGO-white.svg' : 'LOGO-white.svg' %}
{% set link_url = url('<front>') %}

<footer id="footer-region" {{ bem(footer__base_class) }}>
  <div {{ bem('inner', [], footer__base_class) }}>
    <div {{ bem('branding', [], footer__base_class) }}>
    {% embed "@atoms/links/link/link.twig" %}
      {% block link_content %}
        {% include "@organisms/site/site-sidebar/_site-sidebar-branding.twig" with {
          large: "yes",
          sidebar__logo_src: sidebar__logo_src,
          link_url: link_url,
        }%}
      {% endblock %}
    {% endembed %}
    </div>
    <div {{ bem('menu', [], footer__base_class) }}>
      {% block footer__menu %}
        {% include "@molecules/menus/inline/inline-menu.twig" %}
      {% endblock %}
    </div>
    <div {{ bem('copy-right', [], footer__base_class) }}>
      {% block footer__copyright %}{% endblock %}
     </div>
  </div>
</footer>
